*

!.github/
!.github/**/
!assets/
!assets/**/
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.python-version
!example.env
!LICENSE
!README.md

!models/
!models/**/
!src/
!src/**/

!*.md
!*.svg
!*.png
!*.nix
!*.lock
!*.toml
!*.yaml
!*.yml
!*.ini
!*.py
!*.xml
!*.obj
