*

!.github/
!.github/**/
!assets/
!assets/**/
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.python-version
!example.env
!LICENSE
!README.md


!scripts/
!scripts/**/
!shared/
!shared/**/
!src/
!src/**/
!tests/
!tests/**/

!*.lock
!*.md
!*.toml
!*.yaml
!*.yml
!*.ini
!*.sh
!*.py
!*.cu
